# Build directory
build/
*.o
*.out
*.a
*.so

# Binaries
shell

# Python
__pycache__/
*.py[cod]
*.pytest_cache/

# Python virtual environments
.venv/
venv/
env/

# Debug files
*.dSYM/

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
